<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="A course of gardening.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/style_course.min.css" />
    <link rel="stylesheet" href="../styles/style_course_confetti.min.css">
    <script type="module" src="../scripts/course_content.js" defer></script>
    <script src="../scripts/course_progress.js" defer></script>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  </head>

  <body>
    <header class="main-header">
      <div class="container">
        <a class="logo" href="../home">
          <img src="../images/logo2.webp" alt="Logo" />
        </a>

        <nav>
          <ul>
            <li><a href="../profile">Profile</a></li>
            <li><a href="../courses">Courses</a></li>
            <li><a href="../leaderboard">Leaderboard</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <div id="course-title">
        <h1> <%= title %>  </h1>
        <ul>
            <li> <%= difficulty %> </li>
        </ul>
    </div>

    <div class="second-banner">
        <div class="image">
            <div id="banner2-title"><h>The tools you need:</h></div>
            <img src="../images/growing.webp" alt="Tools">

        </div>
        <div class="list" id="tools">
            <% let tool_index = 0 %> 
            <ul>
                <% for(tool_index=0; tool_index<4 && tool_index < tools.length; tool_index++) { %>
                    
                    <li data-modal-target="#modal"  style="display: block;" onclick="changeModal ( '<%= tool_index %>' )"> 
                        <%= tools[tool_index].tool %>
                     </li>

                <% } %>
            </ul>

            <% if (tool_index < tools.length) { %>

                <ul>
                    <% for(; tool_index < tools.length; tool_index++) { %>
                        
                        <li data-modal-target="#modal"  style="display: block;" onclick="changeModal ( '<%= tool_index %>' )">
                             <%= tools[tool_index].tool %> 
                        </li>
    
                    <% } %>
                </ul>

            <%  } %> 

        
            <!-- THE MODAL FOR EACH TOOL -->
            <div class="modal" id="modal">
                <div id="modal-text">
                </div>
                <button data-close-button="" class="close-button">Close</button>
            </div>

        </div>
    </div>

    <div class="third-banner">
        <div class="image">
            <div id="banner3-title"><h>Environment:</h></div>
            <img src="../images/garden.webp" alt="Environment">

        </div>
        <div class="list" id="environment">


            <% let env_index =0 %> 
            <ul>
                <% for(env_index=0; env_index<4 && env_index < environment.length; env_index++) { %>
                    
                    <li > <%= environment[env_index].env %> </li>

                <% }; %> 
            </ul>

            <% if (env_index < environment.length) { %>

                <ul>
                    <% for(; env_index < environment.length; env_index++) { %>
                        
                        <li data-modal-target="#modal" style="display: block;"> <%= environment[env_index].env %> </li>
    
                    <% } %>
                </ul>

            <%  } %> 
        

        </div>
    </div>

    <div class="content">

        <div class="main">
            <form name="form1">

                <% let step_index = 0 %> 
                <% steps.forEach(step => { %>
                    
                    <div class="part">

                        <label for="test1" class="part">
                            <input  disabled type="checkbox" name="ckb" value="<% step_index +1  %> " onclick="enable_next_checkbox(<%= step_index %>)"> 
                        </label>
    
                        <div >
                             <h2> <%= step.step_title  %> </h2>
                             <br>
                             <%- step.step_text  %> 
                        </div>

                        <% if("step_images" in step) {%>
                            <div class="photos" >
                                <% step.step_images.forEach(image => { %>
                                    <div class="gallery"><img src="../<%- image.img_src %>" alt="images/turf4.webp">
                                    <div class="desc"> <%= image.img_desc  %>  </div></div>
                                <% }) %> 
                            </div>
                        <% } %> 

                        
                    </div>

                    <% step_index++ %> 

                <% }); %> 

                <button type="button" onclick="saveForm()">Save</button>
                
            </form>

        </div>

    </div>


    <div id="right">
        <h1>Useful Tips</h1>

        <% let tip_index = 1 %> 
        <% tips.forEach(tip => { %>
          
            <h2> Tip <%= tip_index  %>  </h2>
            <p> <%= tip.tip  %> </p>

            <% tip_index++ %> 

        <% }); %> 
    </div>

    <div id="confettis" style="display: none;">
        <% var count; %>
        <% for ( count=0; count < 12; count++) { %>
            <div class="confetti"></div>
        <% } %>
    </div>

    <footer>
      <p>Web project 2022 Faculty of Computer Science Iași</p>
      <br />
      <p id="copyright">&copy; All Rights Reserved</p>
    </footer>

    <!-- FOR THE MODAL BOX -->
    <div id="overlay"></div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        function changeModal(index)
        {
            var modal = document.getElementById("modal-text");
            let courseTools = <%-JSON.stringify(tools)%> ;
            modal.innerHTML = courseTools[index].tool_modal; 
        }

        //for back to top button
        var mybutton = document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
  </body>
</html>