<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My profile</title>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="stylesheet" href="styles/myProfile.css">

    </head>
    
    <body>

        
        <header class="main-header">
            <div class="header-container">
              <a class="logo" href="home">
                <img src="images/logo2.png" alt="Logo" />
              </a>
      
              <nav>
                <ul>
                  <li><a href="profile">Profile</a></li>
                  <li><a href="courses">Courses</a></li>
                  <li><a href="leaderboard">Leaderboard</a></li>
                </ul>
                <button id="logout-button">
                    Logut
                    <span class="material-icons">
                        logout
                    </span>
                  </button>
              </nav>

            </div>
        </header>

        <div class="container">

            

            <div class="menu">
                <button id="default_open" class="menu-button active" onclick="openContent(event, 'profile-information')">
                    Profile information
                    <span class="material-icons">
                        account_circle
                    </span>
                </button>
                

                <button class="menu-button" onclick="openContent(event, 'achievements')">
                    Achievements
                    <span class="material-icons">
                        workspace_premium
                    </span>
                </button>

                <button class="menu-button" onclick="openContent(event, 'your-courses')">
                    Your Courses
                    <span class="material-icons">
                        menu_book
                    </span>
                </button>

                <button class="menu-button" onclick="openContent(event, 'bookmarks')">
                    Bookmarked Courses
                    <span class="material-icons">
                        bookmarks
                    </span>
                </button>

                <button class="menu-button"  onclick="window.location.href='gardenmanager'">
                    Garden Manager
                    <span class="material-icons">
                        dashboard
                    </span>
                </button>

            </div>

            <div id="content-container">
                
                <div class="section-card content" id="profile-information" style="display: block;">
                    <div class="profile-header"> 
                        
                        <div class="profile-picture">
                            <label class="picture-label" for="avatar">
                                <span class="glyphicon glyphicon-camera"></span>
                                <span>Change Image</span>
                            </label>

                            <% let photo_path = "images/avatar.png"; %> 
                            <input type="file" name="avatar" id="avatar" onchange="loadFile(event)" accept=".png, .jpg, .jpeg">
                            <% if(!(locals.profile_photo)) { %>
                                <% photo_path = "images/avatar.png" %> 
                            <% } else { %>  
                                <% photo_path = profile_information.profile_photo %>
                            <% } %> 
                            <img src="<%- photo_path %>" alt="<%= photo_path %> " class="profile-image" id="output">
                        </div>
                        <div class="profile-info">
                            <h3 class="my-name"> <%= profile_information.name %>  </h3> <br>
                            <h3> <%= profile_information.email %> </h3>
                        </div>

                    </div> 

                    <section class="profile-details">
                        <h1>Registration Date</h1>
                        <div class="profile-details-field">
                            <div class="profile-details-label"> <%= profile_information.registration_date  %>  </div>
                        </div>
                    </section>

                    <section class="profile-details">
                        <h1>Profession</h1>
                        <div class="profile-details-field">
                            <input class="profile-details-label" id="profession" type="text" onchange="popupSaveButton(event)">
                        </div>
                    </section>

                    <section class="profile-details">
                        <h1>About</h1>
                        <div class="profile-details-field">
                            <textarea class="profile-details-label" rows="5" id="about" onchange="popupSaveButton(event)" placeholder="My Bio"> </textarea>
                        </div>
                    </section>

                </div>

                
                <section class="section-card content" id="achievements" style="display: none;">
                    <h1>Achievements</h1>
                    <div class="section-card-content">

                       
                        <% profile_information.achievements.forEach(achievement => { %>
                            <div class="badge-container tooltip">
                                <img src="<%- achievement.photo_src %> " alt="badge" class="badge">
                                <span class="tooltip-text"> <%= achievement.description  %>  </span>
                            </div>

                        <% }); %> 
                    <div class="section-card-content">                   


                </section>

                <section class="section-card content" id="your-courses" style="display: none;">
                    <h1>Followed courses</h1>
                    
                    <div class="courses-container">

                        <% my_courses.forEach(course => { %>
                            
                            <div class="section-card-content">
                                <div class="course-card">
                                    <h3> <%= course.title %> </h3>
                                    <button class="course-button" onclick="redirectToCourse('<%- course.title %>')">Continue</button>
                                    <div class="progress-container">
                                        <% let percentage = course.progress * 100 + '%' %> 
                                        <div class="progress-bar" style="width: <%= percentage %> ;"> </div>
                                    </div>
                                </div>    
                            </div>

                        <% }); %> 
                    </div>
                </section>

                <section class="section-card content" id="bookmarks" style="display: none;">
                    <h1>Bookmarked courses</h1>

                    <div class="courses-container">

                        <% bookmarked.forEach(course => { %>
                            
                            <div class="section-card-content">
                                <div class="course-card">
                                    <h3> <%= course.title %>  </h3>
                                    <button class="course-button" onclick="redirectToCourse('<%- course.title %>')">Get started</button>
                                </div>    
                            </div>
    
                        <% }); %> 

                    </div>
                </section>
                

            </div>
    

        </div>

        <footer>
            <p>Web project 2022 Faculty of Computer Science Iași</p>
            <br />
            <p id="copyright">&copy; All Rights Reserved</p>
        </footer>

        <script>
            function openContent(evt, contentName){
                var i, tabs, tab_links;
                tabs = document.getElementsByClassName("content");
                for(i=0; i < tabs.length; i++)
                    tabs[i].style.display = "none";

                tab_links = document.getElementsByClassName("menu-button");
            
                for(i=0; i<tab_links.length; i++)
                    tab_links[i].className = tab_links[i].className.replace(" active", "");
                    
                document.getElementById(contentName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("default_open").click();

        
            var loadFile = function (event) {
                var image = document.getElementById("output");
                image.src = URL.createObjectURL(event.target.files[0]);
            }


            var logoutButton = document.getElementById("logout-button");
            logoutButton.addEventListener("click", logout);
            function logout(event){
                event.preventDefault();
                let xhr = new XMLHttpRequest();
                xhr.open("POST", "logout", true);
                xhr.send();

                xhr.onload = () => {
                    window.location.href = "login";
                }
            }


            function popupSaveButton()
            {
                console.log("s-a schimbat continutul")
                let saveButton = document.createElement("button");
                saveButton.innerHTML = "Save";
                saveButton.setAttribute("id", "save-button");
                saveButton.addEventListener("click", saveInformation)

                let container = document.getElementById("content-container");
                container.appendChild(saveButton)
            }
            
            function saveInformation(event){
                let information = {}
                
                //umplem obiectul cu textul din input uri
                let about = document.getElementById("about");
                let profession = document.getElementById("profession");
                
                information.about = about.value.replace(/(\n)+/g, '\\n');

                information.profession = profession.value;
                
                console.log(information);

                //trimitem catre server obiectul
                let endpoint = "profile";
                sendData(information, endpoint)
                
                let saveButton  = document.getElementById("save-button");
                saveButton.style.display = "none";
            }

            function sendData(information, endpoint)
            {
                let url = `http://localhost:1234/${endpoint}`;
                let head = new Headers();
                head.append("Content-Type", "application/json");
                let req = new Request(url, {
                    method: 'POST',
                    mode: 'cors',
                    headers: head,
                    body: JSON.stringify(information)
                });
                fetch(req).then((res) => res.json())
                .then((content) => {
                    if("error" in content){
                        //incerare esuata
                        failure(content.error);
                    } 
                    if ("data" in content) {
                        console.log(content.data);
                    }
                    
                })
                .catch(failure);

            }
            function failure(error)
            {
                console.log(error);
            }


            window.addEventListener('load', (event) => {
                let about = document.getElementById("about");
                let profession = document.getElementById("profession");


                about.value = '<%- profile_information.about %>';
                profession.value = '<%- profile_information.profession %>';
            });

            function redirectToCourse(string)
            {
                window.location.href = "courses/" + toFormal(string);
            }

            function toFormal(string)
            {
                string = string.replace(' ', '_');
                string = string.charAt(0).toLowerCase() + string.slice(1);
                return string;
            }

        </script>



    </body>
</html>